* {
    margin: 0px;
    padding: 0px;
}



.container {
    margin: 0 auto;
    width: 650px;
    height: 350px;
    border: 2px black solid;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

#header {
    width: inherit;
    height: 120px;
    background-color: green;
    
}

.card {
    width: inherit;
    height: 450px;
    margin-left: 30px; 
    position: absolute;
}

#profile {
    width: 100px;
    height: 100px;
    position:relative;
    top: 65px;
}

h1{
    margin-top: 75px;
}

#gear {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

#marker {
    width: 12px;
    height: 18px;
    margin-right: 10px;
}


#loc {
    display: flex;
    margin-right: 10px;
    margin-top: 10px;
}

#link {
    display: flex;
    margin-top: 8px;
}

#text {
    margin-top: 10px;
}
